<div class="modal">
    <!-- textalign right -->
    <div class="modal__header">
        <!-- close function -->
        <span class="modal__header__close">X</span>
    </div>
    <!-- display flex justifyContent="center" -->
    <div class="modal__content">
        <div class="modal__content__non-result">
            <!-- fontsize 30px -->
            <p class="modal__content__non-result__text">실행 결과가 없습니다.</p>
            <!-- onclick restart -->
            <button class="modal__content__non-result__restart-btn">처음으로</button>
        </div>
        <div class="modal__content__result">
            <div class="modal__content__result__img-btns">
            </div>
            <!-- onclick run -->
            <button class="modal__content__result__select-btn" disabled>선택</button>
        </div>
    </div>
</div>